@inherits StateContainerComponent<DrawsViewModel>
@inject NavigationManager Nav
@inject DrawService DrawService

@page "/draws"

@layout AdminOverlayLayout

<PageTitle>@T.TEXT("MY_DRAWS")</PageTitle>



<div class="module">
    <AuthorizeView>
        <Authorized>
            <a @onclick="RedirectToHome" class="cursor-pointer" title="Tombolix">
                <span class="oi oi-home" aria-hidden="true"></span>
            </a>
            @if(ViewModel.Draws is null)
            {
                <p>@T.TEXT("LOADING")</p>
            }
            else
            {
                @foreach(var draw in ViewModel.Draws)
                {
                    <DrawShort Draw="draw" />
                }
            }
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedText/>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    public void RedirectToHome()
    {
        DrawService.SetCurrentDrawContextAsync(null);
        Nav.NavigateTo($"/");
    }
}
