.theme-light {
    --bg: #f0f0f0;
    --bg-card: #1d1b31;
    --cyan-neon: #00f2ff;
    --purple-main: #6c5ce7;
    --purple-glow: #a29bfe;
    --text-main: #060606;
    --text-muted: var(--purple-glow);
    --text-secondary: var(--cyan-neon);
    --text-strong-weight: 500;
    --text-strong-size: 1.2rem;
    --h1-size: 2rem;
    --h2-size: 1.6rem;
    --h3-size: 1.2rem;
    --module-content-align: center;
    --text-strong-color: var(--purple-main);
    --cta-color: var(--purple-main);
    --module-margin: 1rem 0 0 1rem;
    --module-padding: 3rem 1rem;
    --S-module-padding: .9rem .5rem;
    --module-border-width: 2px;
    --module-border-top: 0 solid transparent;
    --module-border-right: 0 solid transparent;
    --module-border-bottom: var(--module-border-width) solid #695ee4;
    --module-border-left: var(--module-border-width) solid #695ee4;
    --module-border-radius: 5px;
    --background-app-color: var(--bg);
    --background-app-image: url("https://cdn.mathieu-gerard.com/images/background_light_purple.webp");
    --background-app-repeat: no-repeat;
    --background-app-attachment: fixed;
    --background-app-size: cover;
    --background-module-color: rgba(132,237,254,0.3);
    --background-module-blur: blur(5px);
    --background-site-toolbar-color: #6c757d;
    --background-notification-banner-color: #2b3c4b;
    --module-box-shadown: 0 0 10px rgba(105, 94, 228, 0.3), inset 0 0 5px rgba(105, 94, 228, 0.5);
    --text-site-toolbar-color: #2fc9c3;
    --background-toolbar-cta-color: #013257;
    --site-toolbar-padding: 5px 10px;
    --background-site-banner-color: #003257;
    --background-site-color: #ffffff;
    --text-site-banner-color: #ffffff;
    --text-site-color: #000000;
    --background-banner-color: #2fc9c3;
    --background-color: #ffffff;
    --text-banner-color: #0f4b48;
    --text-color: #343a40;
    --navbar-bg: #f8f9fa;
    --navbar-color: #000000;
    --sidebar-background: linear-gradient(180deg, rgb(3 52 86) 30%, #ffffff 90%);
    --sidebar-color: #ffffff;
    --theme-swith-button-background: url(../Images/dark-theme_32.png);
    --theme-swith-button-width: 21px;
    --theme-swith-button-margin: 7px;
    --admin-background-nav-color: #d9d9d9;
    --admin-nav-border-color: #174c48;
    --admin-nav-brand-bg-color: #45cbc4;
    --admin-nav-brand-color: #45cbc4;
    --admin-table-header-background-color: #a5a5a5;
    --admin-table-broder-color: #174c48;
    --admin-table-text-color: #212529;
    --admin-table-background-odd-color: #c9c9c9;
    --admin-table-background-even-color: #d9d9d9;
    --admin-table-text-color: #000000;
    --admin-border-tag-color-gay: #c1c1c1;
    --admin-border-tag-color-red: #FF0000;
    --admin-border-tag-color-aqua: #45cbc4;
    --admin-border-tag-color-green: #00ff00;
    --admin-border-tag-color-blue: #0000ff;
    --admin-border-tag-color-gold: #ffd700;
    --admin-background-tag-color-gray: #2c2c2c;
    --admin-background-tag-color-red: #ef9999;
    --admin-background-tag-color-aqua: #99ddd9;
    --admin-background-tag-color-green: #75d16f;
    --admin-background-tag-color-gold: #dfbc31;
    --admin-background-tag-color-blue: #a4b1ff;
    --S-text-strong-size: 1.2rem;
}

/* Thème Sombre */
.theme-dark {
    --bg: #0f0c1d;
    --bg-card: #1d1b31;
    --cyan-neon: #00f2ff;
    --purple-main: #6c5ce7;
    --purple-glow: #a29bfe;
    --text-main: #e0e0e0;
    --text-muted: #8b8b9e;
    --text-secondary: var(--purple-main);
    --text-strong-weight: 500;
    --text-strong-size: 1.2rem;
    --h1-size: 2rem;
    --h2-size: 1.6rem;
    --h3-size: 1.2rem;
    --module-content-align: center;
    --text-strong-color: var(--cyan-neon);
    --cta-color: var(--cyan-neon);
    --module-margin: 1rem 0 0 1rem;
    --module-padding: 3rem 1rem;
    --S-module-padding: .9rem .5rem;
    --module-border-width: 2px;
    --module-border-top: 0 solid transparent;
    --module-border-right: 0 solid transparent;
    --module-border-bottom: var(--module-border-width) solid #00f2ff;
    --module-border-left: var(--module-border-width) solid #00f2ff;
    --module-border-radius: 5px;
    --background-app-color: var(--bg);
    --background-app-image: url("https://cdn.mathieu-gerard.com/images/background_dark_purple.webp");
    --background-app-repeat: no-repeat;
    --background-app-attachment: fixed;
    --background-app-size: cover;
    --background-module-color: rgba(108,92,231,0.2);
    --background-module-blur: blur(5px);
    --background-site-toolbar-color: #6c757d;
    --background-notification-banner-color: #2b3c4b;
    --module-box-shadown: 0 0 10px rgba(0, 242, 255, 0.3), inset 0 0 5px rgba(0, 242, 255, 0.2);
    --text-site-toolbar-color: #2fc9c3;
    --background-toolbar-cta-color: #013257;
    --site-toolbar-padding: 5px 10px;
    --text-site-toolbar-color: var(--purple-main);
    --background-toolbar-cta-color: #013257;
    --background-notification-banner-color: #2b3c4b;
    --background-site-banner-color: #003257;
    --background-site-toolbar-color: #6c757d;
    --background-site-color: #323232;
    --text-site-banner-color: #ffffff;
    --text-site-color: #ffffff;
    --background-banner-color: #0f4b48;
    --background-color: #343a40;
    --text-banner-color: #2fc9c3;
    --text-color: #ffffff;
    --navbar-bg: #212529;
    --navbar-color: #ffffff;
    --sidebar-background: linear-gradient(180deg, rgb(3 52 86) 30%, #021725 90%);
    --sidebar-color: #ffffff;
    --theme-swith-button-background: url(../Images/light-theme_36.png);
    --theme-swith-button-width: 25px;
    --theme-swith-button-margin: 5px;
    --max-with: 1250px;
    --admin-background-nav-color: #2c2c2c;
    --admin-nav-brand-color: #45cbc4;
    --admin-nav-brand-bg-color: #174c48;
    --admin-nav-border-color: #174c48;
    --admin-table-header-background-color: #1c1c1c;
    --admin-table-broder-color: #212529;
    --admin-table-text-color: #ffffff;
    --admin-table-background-odd-color: #2c2c2c;
    --admin-table-background-even-color: #3c3c3c;
    --admin-table-text-color: #ffffff;
    --admin-border-tag-color-gray: #c1c1c1;
    --admin-border-tag-color-red: #FF0000;
    --admin-border-tag-color-aqua: #45cbc4;
    --admin-border-tag-color-green: #00ff00;
    --admin-border-tag-color-blue: #0000ff;
    --admin-border-tag-color-gold: #ffd700;
    --admin-background-tag-color-gray: #2c2c2c;
    --admin-background-tag-color-red: #ef9999;
    --admin-background-tag-color-aqua: #99ddd9;
    --admin-background-tag-color-green: #75d16f;
    --admin-background-tag-color-gold: #dfbc31;
    --admin-background-tag-color-blue: #a4b1ff;
    --S-text-strong-size: 1rem;
}
