<div id="navbar" class="column bg-nav">
    <div class="inner">
        <p class="navbar-brand">TradeUp</p>
    </div>
    <ul class="navbar-nav">
        <li>
            <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/admin/users" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span>Users
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/admin/features" Match="NavLinkMatch.All">
                <span class="oi oi-pulse" aria-hidden="true"></span>Features
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link" href="/admin/Groups" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span>Groups
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
