span.selected-tag {
    border: 2px solid;
    border-radius: 50%;
    aspect-ratio: 1;
    margin: 1rem;
    padding: 1px 4px;
}
span.selected-tag.primary {
    color: #0f0;
    border-color: #0f0;
}
span.selected-tag.secondary {
    color: #00f;
    border-color: #00f;
}
button {
    margin: .5rem;
    border: none;
}
button.trsp {
    background: transparent;
}
button > icon{
    color: var(--cta-color);
}
button.ui-action {
    font-weight: 700;
    font-size: 2rem;
    border-radius: 50%;
    padding: 3rem;
    background: var(--cta-color);
    color: var(--text-site-toolbar-color);
}
button.ui-action:disabled {
    color: var(--text-muted);
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
div.flex-container {
    display: flex;
    justify-content: center;
}
div.result-card .primary{
    font-size: 4rem;
}
div.result-card {
    padding: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 15px;
    background: var(--cta-color);
    color: var(--text-secondary);
}
button.btn-secondary {
    background: var(--purple-glow);
}
button.btn-secondary:hover {
    background: var(--cta-color);
}
button.selected {
    background: var(--cta-color);
}
.mg-b-10
{
    margin-bottom: 10px;
}