@inherits StateContainerComponent<HomeContentViewModel>

<PageTitle>Home</PageTitle>
<div class="module">
    <div class="inner">
        <div class="home-box centered-box">
            <div class="inner text-center">
                <h1>@AppConfig["AppSettings:ApplicationName"]</h1>
                <p>@T.TEXT("APP_SLOGAN")</p>
            </div>
        </div>
	</div>
</div>


